<p>Whatevs</p>

<p-iftalabel>
    <input id="name" type="text" pInputText [(ngModel)]="observedSubject().name" />
    <label for="name">Name</label>
</p-iftalabel>
<p-iftalabel>
    <input id="gender" type="text" pInputText [(ngModel)]="observedSubject().gender" />
    <label for="gender">Gender</label>
</p-iftalabel>
<p-iftalabel>
    <input id="build" type="text" pInputText [(ngModel)]="observedSubject().build" />
    <label for="build">Build</label>
</p-iftalabel>
<p-iftalabel>
    <input id="gait" type="text" pInputText [(ngModel)]="observedSubject().gait" />
    <label for="gait">Gait</label>
</p-iftalabel>
<p-iftalabel>
    <input id="height" type="number" pInputText [(ngModel)]="observedSubject().height" />
    <label for="height">Height</label>
</p-iftalabel>
<p-iftalabel>
    <input id="skinTexture" type="text" pInputText [(ngModel)]="observedSubject().skinTexture" />
    <label for="skinTexture">Skin Texture</label>
</p-iftalabel>
<p-iftalabel>
    <input id="hasTattoos" type="checkbox" pInputText [(ngModel)]="observedSubject().hasTattoos" />
    <label for="hasTattoos">Has Tattoos</label>
</p-iftalabel>
<p-iftalabel>
    <input id="hairLength" type="number" pInputText [(ngModel)]="observedSubject().hairLength" />
    <label for="hairLength">Hair Length</label>
</p-iftalabel>
<p-iftalabel>
    <input id="hairColor" type="text" pInputText [(ngModel)]="observedSubject().hairColor" />
    <label for="hairColor">Hair Color</label>
</p-iftalabel>
<p-iftalabel>
    <input id="hairTexture" type="text" pInputText [(ngModel)]="observedSubject().hairTexture" />
    <label for="hairTexture">Hair Texture</label>
</p-iftalabel>
<p-iftalabel>
    <input id="hasPiercings" type="checkbox" pInputText [(ngModel)]="observedSubject().hasPiercings" />
    <label for="hasPiercings">Has Piercings</label>
</p-iftalabel>
<p-iftalabel>
    <input id="age" type="number" pInputText [(ngModel)]="observedSubject().age" />
    <label for="age">Age</label>
</p-iftalabel>
<p-iftalabel>
    <input id="clothing" type="text" pInputText [(ngModel)]="observedSubject().clothing" />
    <label for="clothing">Clothing</label>
</p-iftalabel>
